h1{
color: blue;
font-size: 60px;
}
#sentence2{
  color: green;
  font-size: 20px;
}
h2{
color: red;
font-size: 60px;
}
#sentence3{
  color: pink;
 font-size : 48px;
}
h3{
color: purple;
font-size: 60px;
}
#sentence4{
  color: grey;
  font-size: 48px;
}
font-family: 'Lato', sans-serif;
font-family: 'Ranga', cursive;
